.homeDiv{
    /* border: 2px solid black; */
    display:flex;
    flex-direction: row;
    /* position: relative; */
    height: 44.5rem;
    position: sticky;
}

.leftDiv{
display: flex;
flex-direction: row;
/* position: fixed;
left: 0;
    top: 0; */
}
.midDiv{
    display: flex;
    flex-direction: column;
    width: 55vw;
    height: 100vh;
    overflow-y: scroll;
}
.midDiv::-webkit-scrollbar{
    display: none;
}
.rightDiv{
    display: flex;
    overflow-y: scroll;
    /* position: fixed;
    right: 0;
    top: 0; */
}
.rightDiv::-webkit-scrollbar{
    display: none;
}