*{
  margin:0;
  padding:0
}
.App {
  text-align: center;
}
.hand{
  cursor: pointer;
}

.btn{
  border: 2px solid #00acee;
  border-radius: 1.5rem;
  background-color: #00acee;
  width: 6rem;
  color: white;
  font-weight: bold;
  margin-left: 3rem;
}
.btn:hover{
  color: white;
  background-color: rgb(81, 118, 219);
}

.bottom{
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
